.landing-page {
  height: 100vh;
}

.landing-page-header {
  padding-top: 2em;
}

.landing-h1 {
  font-size: 22.5pt;
}

.landing-page-content {
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
}
.Landing-button {
  color: orangered;
}
