/* global css - leave in like body, links and stuff i want that are universal  */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/* keeps so doesn't add extra when adding margins/borders etc.  */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  justify-content: center;
  background: rgb(139, 252, 182);
}


a {
  color: black;
}

header {
  padding: 45px 15px;
}

img {
  justify-content: space-between;
  margin: 30px;
  border-radius: 23%;

}



@media screen and (min-width:800px){
  .App {
    display: flex;
    }
}

